/* ========================================================== */
/* Default Button */
/* ========================================================== */
.button {
    -fx-background-color: RGB(135, 162, 255)
}

.button:hover   {
    -fx-background-color: RGB(63, 162, 246);
}

.button:pressed   {
    -fx-background-color: RGB(70, 130, 180);
}

/* ========================================================== */
/* Action Button */
/* ========================================================== */
.button-update {
    -fx-background-color: RGB(120, 180, 120);
    -fx-text-fill: white;
    -fx-min-width: 100px;
}

.button-update:hover {
    -fx-background-color: RGB(0, 255, 0);
}

.button-update:pressed {
    -fx-background-color: RGB(0, 150, 0);
}

.button-delete {
    -fx-background-color: RGB(200, 120, 120);
    -fx-text-fill: white;
    -fx-min-width: 100px;
}

.button-delete:hover {
    -fx-background-color: RGB(255, 0, 0);
}

.button-delete:pressed {
    -fx-background-color: RGB(150, 0, 0);
}

.button-view {
    -fx-background-color: RGB(70, 130, 180);
    -fx-text-fill: white;
    -fx-min-width: 100px;
}

.button-view:hover {
    -fx-background-color: RGB(100, 149, 237);
}

.button-view:pressed {
    -fx-background-color: RGB(65, 105, 225);
}

/* ========================================================== */
/* Reservation Form Details Button */
/* ========================================================== */
.button-delete-reservation-form {
    -fx-background-color: RGB(200, 120, 120);
    -fx-text-fill: white;
    -fx-min-width: 300px;
}

.button-delete-reservation-form:hover {
    -fx-background-color: RGB(255, 0, 0);
}

.button-delete-reservation-form:pressed {
    -fx-background-color: RGB(150, 0, 0);
}

.button-check-in {
    -fx-background-color: RGB(135, 162, 255);
    -fx-text-fill: white;
    -fx-min-width: 300px;
}

.button-check-in:hover {
    -fx-background-color: RGB(63, 162, 246);
}

.button-check-in:pressed {
    -fx-background-color: RGB(70, 130, 180);
}

/* ========================================================== */
/* Filter Room Booking Button */
/* ========================================================== */
.button-All {
    -fx-background-color: rgb(211, 211, 211);
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.button-All-selected {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 3px;
    -fx-background-color: rgb(169, 169, 169);
    -fx-cursor: hand;
}

.button-All:hover {
    -fx-background-color: rgb(128, 128, 128);
}

.button-All:pressed {
    -fx-background-color: rgb(105, 105, 105);
}

.button-Available {
    -fx-background-color: rgb(160, 214, 131);
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.button-Available-selected {
    -fx-border-color: rgb(114, 191, 120);
    -fx-border-width: 3px;
    -fx-background-color: rgb(160, 214, 131);
    -fx-cursor: hand;
}

.button-Available:hover {
    -fx-background-color: rgb(144, 200, 120);
}

.button-Available:pressed {
    -fx-background-color: rgb(130, 180, 110);
}

.button-OverDue {
    -fx-background-color: rgb(249, 84, 84);
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.button-OverDue-selected {
    -fx-border-color: rgb(198, 46, 46);
    -fx-border-width: 3px;
    -fx-background-color: rgb(249, 84, 84);
    -fx-cursor: hand;
}

.button-OverDue:hover {
    -fx-background-color: rgb(235, 75, 75);
}

.button-OverDue:pressed {
    -fx-background-color: rgb(215, 65, 65);
}

.button-OnUse {
    -fx-background-color: rgb(76, 201, 254);
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.button-OnUse-selected {
    -fx-border-color: rgb(55, 175, 225);
    -fx-border-width: 3px;
    -fx-background-color: rgb(76, 201, 254);
    -fx-cursor: hand;
}

.button-OnUse:hover {
    -fx-background-color: rgb(65, 180, 240);
}

.button-OnUse:pressed {
    -fx-background-color: rgb(55, 160, 220);
}

/* ========================================================== */
/* Navigation Btn */
/* ========================================================== */
.button-reservation {
    -fx-background-color: RGB(135, 162, 255);
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-reservation:hover {
    -fx-background-color: RGB(63, 162, 246);
    -fx-border-color: RGB(0, 123, 255);
}

.button-reservation:pressed {
    -fx-background-color: RGB(70, 130, 180);
}

.button-reservation:hover {
    -fx-background-color: RGB(70, 130, 180);
}

.button-reservation-selected {
    -fx-background-color: rgb(253, 139, 81);
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-reservation:disabled {
    -fx-background-color: RGB(200, 200, 200);
    -fx-border-color: RGB(180, 180, 180);
    -fx-text-fill: RGB(120, 120, 120);
    -fx-opacity: 0.6;
}

/* ========================================================== */
/* Add ReservationForm Btn */
/* ========================================================== */
.button-delete-reservation-form-2 {
    -fx-background-color: RGB(200, 120, 120);
    -fx-text-fill: white;
}

.button-delete-reservation-form-2:hover {
    -fx-background-color: RGB(255, 0, 0);
}

.button-delete-reservation-form-2:pressed {
    -fx-background-color: RGB(150, 0, 0);
}

/* ========================================================== */
/* Statistics Button */
/* ========================================================== */
.button-excel {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button-excel:hover {
    -fx-background-color: #388E3C;
}

.button-refresh {
    -fx-background-color: #03A9F4;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button-refresh:hover {
    -fx-background-color: #0288D1;
}