.box-Available {
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}

.box-Available:hover {
    -fx-border-color: green;
    -fx-border-width: 3px;
}

.box-OverDue {
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}

.box-OverDue:hover {
    -fx-border-color: red;
    -fx-border-width: 3px;
}

.box-OnUse {
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}

.box-OnUse:hover {
    -fx-border-color: blue;
    -fx-border-width: 3px;
}